#fun-with-flags {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    width: 50%;
}

#table{
    font-size: 32px;
}

.container{
    display: flex;
    flex-direction: column;
}